.password-change {
	.portal-message {
	}
	.wrapper {
		margin-top: GetSize(6);
		.details-section {
			@include FlexboxCenter;
		}
		.details-section .login_input_box {
			width: GetSize(55);
		}
		.details-section .login_input_box .login_input {
			width: auto;
		}
	}
}
@media screen and (min-width: $medium-res + 1) and (max-width: $high-res) {
	.password-change {
		.portal-message {
		}
		.wrapper {
			margin-top: GetSize(8);
			.details-section {
				@include FlexboxCenter;
			}
			.details-section .login_input_box {
				width: GetSize(55);
			}
			.details-section .login_input_box .login_input {
				width: auto;
			}
		}
	}
}
@media screen and (min-width: $high-res + 1) {
	.password-change {
		.portal-message {
		}
		.wrapper {
			margin-top: GetSize(8);
			.details-section {
				@include FlexboxCenter;
			}
			.details-section .login_input_box {
				width: GetSize(55);
			}
			.details-section .login_input_box .login_input {
				width: auto;
			}
		}
	}
}
