.password-change {
	.wrapper {
		margin-top: GetSize(8);
		.details-section {
			@include FlexboxCenter;
		}
		.details-section .login_input_box {
			width: GetSize(55);
		}
		.details-section .login_input_box .login_input {
			width: auto;
		}
	}
}
