/* Profile - User Info */
.user-information {
	margin-bottom: 0.5vh;
	.user-profile-card {
		background-color: #cfcecf;
		border: 10px solid #cfcecf;
		margin: 0 33.6px;
		.contact-card1 {
			flex: 0 0 GetSize(44);
			width: GetSize(44);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background-color: $DCBLOX_White;
			.profile-pic-wrapper {
				flex: 0 2 117px;
				height: 100%;
				.profile-pic {
					height: 121.56px;
				}
				.profile-pic img {
					width: 117px;
					height: 121.56px;
				}
				.user-name {
					@include Text-Style-User-Contact-Name;
				}
			}
			.profile-info {
				flex: 0 1 231px;
				height: 100%;
				padding-top: GetSize(1);
				padding-left: GetSize(1);
				.title {
					margin-top: 0px;
					@include Text-Style-User-Contact-Section-Title;
				}
				.title + div {
					margin-top: 0vh;
				}
				.field {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
				}
			}
		}
		.contact-card2 {
			display: flex;
			flex-direction: row;
			margin-top: GetSize(1);
			align-self: center;
			background-color: $DCBLOX_White;
			padding-top: GetSize(1);
			padding-bottom: GetSize(1);
			padding-left: 8.8px;
			.left-side {
				flex: 0 1 GetSize(14);
				padding-left: 4px;
				.title {
					@include Text-Style-User-Contact-Section-Title;
				}
				.title + div {
					margin-top: 9.6px;
				}
				.field {
					padding-right: 0.2vw;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
				}
			}
			.right-side {
				flex: 0 1 231px;
				padding-left: 8.4px;
				.title {
					@include Text-Style-User-Contact-Section-Title;
				}
				.push-down {
					margin-top: 10.13px;
				}
				.title + div {
					margin-top: 9.6px;
				}
				.field {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
				}
			}
		}

		/************************ INPUT FIELDS ************************/
		label {
			display: block;
			margin: 0%;
			@include Text-Style-User-Contact-Field-Name;
		}
		input {
			width: 100%;
			border: 1px solid #dcdddd;
			background: linear-gradient(45deg, #307fe2 10%, #dcdddd 60%);
			background-size: 250% 100%;
			background-position: right bottom;
			transition: all 2s ease-in-out;
			@include Text-Style-User-Contact-Field-Value;
		}
		.bubble {
			position: absolute;
		}
		.speech-box {
			width: GetSize(10);
			height: GetSize(15);
			border-radius: 15vh;
			background: #307fe2;
			padding: GetSize(1);
			opacity: 0.9;
			text-align: center;
			font-size: GetSize(1);
			color: lightgrey;
			position: absolute;
			top: -176.6px;
			left: -40.32px;
			border: #307fe2 1px;
			border-style: solid;
			transform: rotate(10deg);
		}
		.sb1:before {
			content: '';
			width: 0vw;
			height: 0vh;
			position: absolute;
			border-left: 10px solid #307fe2;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #307fe2;
			border-top: 10px solid transparent;
			left: 71.23px;
			top: 67.2px;
		}
		.blue-animation {
			background-position: left bottom;
		}
		.blue-border {
			border: $DCBLOX_Red 0.5px;
			border-style: solid;
		}
		strong {
			color: $DCBLOX_Red;
			margin-left: 0.2vw;
			margin-right: 0.2vw;
		}
		.field {
			padding-right: 9.4px;
			margin-top: 0;
		}
		.double-field {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding-right: 9.4px;
			.field1,
			.field2 {
				flex: 1 0 50%;
			}
		}
	}
}
