.storage-location-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	.name {
		margin-top: 0.25vh;
		@include Status-Head;
		color: $COMPANY_Gray;
		// &.form-dropdown-selection {
		// 	$size_map: (
		// 		576: 11,
		// 		1440: 16,
		// 		2560: 20,
		// 	);
		// 	font-size: least-squares-fit($size_map);
		// 	letter-spacing: 0;
		// }
	}
	.usage-data {
		color: $Cool_Gray_Med_1;
	}
}
@media screen and (min-width: $medium-res + 1) and (max-width: $high-res) {
	.storage-location-icon {
		.location-image {
			img {
				width: calculateVw(36.4, $standard-screen-width-mid);
				height: calculateVh(36.4, $standard-screen-height-mid);
			}
		}
		.name {
			margin-top: 0.25vh;
			@include Status-Head;
			margin-bottom: calculateVh(15, 1440);
			color: $COMPANY_Gray;
			&.form-dropdown-selection {
				$size_map: (
					576: 11,
					1440: 16,
					2560: 20,
				);
				font-size: least-squares-fit($size_map);
				letter-spacing: 0;
			}
		}
		.storage-location-icon-redundant {
			display: flex;
			flex-direction: row;
			z-index: 2100;
		}
	}
}
@media screen and (min-width: $high-res + 1) {
}
