.white-list-row {
	width: calculateVw(285px, $standard-screen-width-mid);
	height: calculateVh(50, $standard-screen-height-mid);
	display: flex;
	flex-direction: row;
	.delete-option {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-right: 0.5vw;
		cursor: pointer;
	}
	.delete-option .icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: calculateVw(12px, $standard-screen-width-mid);
		height: calculateVw(12px, $standard-screen-width-mid);
		border-radius: 20px;
		background-color: $Cool_Gray_Med_3;
		color: $White;
		span {
			flex: 1 0 auto;
			margin-top: -0.2vh;
		}
	}
	.count {
		flex: 0 1 calculateVw(40px, $standard-screen-width-mid);
		flex-basis: calculateVw(40px, $standard-screen-width-mid);
		min-width: calculateVw(40px, $standard-screen-width-mid);
		height: 100%;
		background-color: $Bright_Emerald;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: $White;
		&.green {
			background-color: $Bright_Emerald;
		}
		&.red {
			background-color: $DCBLOX_Red;
		}
		&.gray {
			background-color: #cfd2d3;
		}
	}
	.ip {
		flex: 0 1 calculateVw(250px, $standard-screen-width-mid);
		flex-basis: calculateVw(250px, $standard-screen-width-mid);
		min-width: calculateVw(250px, $standard-screen-width-mid);
		// flex: 0 1 calculateVw(270px, $standard-screen-width-mid);
		// min-width: calculateVw(270px, $standard-screen-width-mid);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background-color: $Cool_Gray_Light_3;
		.reformatted {
			padding-top: calculateVh(15px, $standard-screen-height-mid);
			padding-left: calculateVw(20px, $standard-screen-width-mid);
			letter-spacing: 2px;
		}
		.blox-text-input {
			width: calculateVw(22, $standard-screen-width-mid) !important;
			input {
				// border-bottom-color: $Bright_Emerald;
				border-bottom-color: $Cool_Gray_Dark_2;
				border-bottom-width: 2px !important;
				opacity: 0.4;
				@include Text-Style-Form-Dropdown-Selection;
				text-transform: none;
			}
			.ip_field_subnet {
				&.set {
					opacity: 1;
				}
				&.unset {
					opacity: 0.4;
				}
			}
			input.valid {
				opacity: 1;
				border-bottom-color: $Cool_Gray_Dark_2;
			}
			input:focus {
				opacity: 1;
				border-bottom-color: $Bright_Emerald !important;
				border-bottom-width: 2px !important;
			}

			input.invalid {
				border-bottom-color: $DCBLOX_Red !important;
			}
			input:hover {
				opacity: 1;
				border-bottom-color: $Bright_Emerald !important;
				cursor: pointer;
			}
		}
		.blox-text-input:nth-child(1) {
			margin-left: calculateVw(16px, $standard-screen-width-mid);
		}
		.blox-text-input:nth-child(n + 2) {
			margin-left: calculateVw(7px, $standard-screen-width-mid);
		}
		.blox-text-input .validation-row {
			display: none !important;
		}
		.slash {
			padding-left: 0.3vw;
			padding-right: 0.3vw;
			margin-top: calculateVh(14px, $standard-screen-height-mid);
			color: $Bright_Emerald;
		}
		.blox-text-input:last-child {
			margin-left: calculateVw(2px, $standard-screen-width-mid);
		}
		.default-filter-wrapper {
			width: calculateVw(20px, $standard-screen-width-mid);
			height: 100%;
			margin-left: auto;
			margin-right: calculateVw(17.4px, $standard-screen-width-mid);
			border-bottom: none;
			align-self: stretch;
			.default-filter .dd-list-ul {
				margin-left: calculateVw(-57px, $standard-screen-width-mid);
			}
			.default-filter::after {
				right: 25%;
				bottom: 33%;
			}
		}
	}
}
.white-list-row.empty {
	.ip {
		opacity: 0.6;
	}
}
