.main.release {
  height: 100%;
  flex: 0 0 60%;
	background-color: $Cool_Gray_Light_3;
}

.supporting-content.release {
  flex: 1 0 auto;
  background-color: $Cool_Gray_Light_3;
}

.extra-content.release {
  flex: 1 0 auto;
  background-color: $Cool_Gray_Light_3;
}

.portal-side-menu.release {
  .menu-item-name {
    @include Text-Style-9;
    color: $DCBLOX_Gray;
  }
  .menu-item-name.active {
    @include Text-Style-9;
    color: $Dark_Lime;
  }
}
