.main.support {
	height: 100%;
	//flex: 0 0 60%;
	background-color: $Warm_Gray_Light_3;
}

.support-page {
	z-index: 1;
	height: 100%;
	border-right: 1px solid rgba(91, 89, 91, 0.1);
	background: -moz-linear-gradient(
		0.77% -0.26% -60deg,
		rgba(249, 249, 249, 1) 0%,
		rgba(247, 247, 247, 1) 48.6%,
		rgba(240, 241, 241, 1) 66.1%,
		rgba(229, 229, 229, 1) 78.58%,
		rgba(212, 213, 213, 1) 88.66%,
		rgba(190, 193, 193, 1) 97.2%,
		rgba(181, 184, 184, 1) 100%
	);
	background: -webkit-linear-gradient(
		-60deg,
		rgba(249, 249, 249, 1) 0%,
		rgba(247, 247, 247, 1) 48.6%,
		rgba(240, 241, 241, 1) 66.1%,
		rgba(229, 229, 229, 1) 78.58%,
		rgba(212, 213, 213, 1) 88.66%,
		rgba(190, 193, 193, 1) 97.2%,
		rgba(181, 184, 184, 1) 100%
	);
	background: -webkit-gradient(
		linear,
		0.77% -0.26%,
		99.23% 100.26%,
		color-stop(0, rgba(249, 249, 249, 1)),
		color-stop(0.486, rgba(247, 247, 247, 1)),
		color-stop(0.661, rgba(240, 241, 241, 1)),
		color-stop(0.7858, rgba(229, 229, 229, 1)),
		color-stop(0.8866, rgba(212, 213, 213, 1)),
		color-stop(0.972, rgba(190, 193, 193, 1)),
		color-stop(1, rgba(181, 184, 184, 1))
	);
	background: -o-linear-gradient(
		-60deg,
		rgba(249, 249, 249, 1) 0%,
		rgba(247, 247, 247, 1) 48.6%,
		rgba(240, 241, 241, 1) 66.1%,
		rgba(229, 229, 229, 1) 78.58%,
		rgba(212, 213, 213, 1) 88.66%,
		rgba(190, 193, 193, 1) 97.2%,
		rgba(181, 184, 184, 1) 100%
	);
	background: -ms-linear-gradient(
		-60deg,
		rgba(249, 249, 249, 1) 0%,
		rgba(247, 247, 247, 1) 48.6%,
		rgba(240, 241, 241, 1) 66.1%,
		rgba(229, 229, 229, 1) 78.58%,
		rgba(212, 213, 213, 1) 88.66%,
		rgba(190, 193, 193, 1) 97.2%,
		rgba(181, 184, 184, 1) 100%
	);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#B5B8B8' ,GradientType=0)";
	background: linear-gradient(
		150deg,
		rgba(249, 249, 249, 1) 0%,
		rgba(247, 247, 247, 1) 48.6%,
		rgba(240, 241, 241, 1) 66.1%,
		rgba(229, 229, 229, 1) 78.58%,
		rgba(212, 213, 213, 1) 88.66%,
		rgba(190, 193, 193, 1) 97.2%,
		rgba(181, 184, 184, 1) 100%
	);
	box-shadow: 8px 8px 10px rgba(91, 89, 91, 0.35);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=8, OffY=8, Color='#5B595B') progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9',endColorstr='#B5B8B8' , GradientType=1);
	box-shadow: 1.9px 2.3px 19px 1px rgba(84, 88, 90, 0.25);

	.main-content {
		.text-icons {
			margin-top: 10%;
			font-weight: 600;
		}
	}
}

.support-section-header {
	width: 401.9px;
	margin-top: calculateVh(25px);
	@include Support-Section-Header;
}

.service-request-wrapper {
	margin-top: 0.5vh;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
