.main.support {
	height: 100%;
	//flex: 0 0 60%;
	background-color: $Warm_Gray_Light_3;
}

.support-page {
	z-index: 1;
	height: 100%;

	.main-content {
		.text-icons {
			margin-top: 10%;
			font-weight: 600;
		}
	}
}

.support-section-header {
	width: 401.9px;
	margin-top: calculateVh(25px);
	@include Support-Section-Header;
}

.service-request-wrapper {
	margin-top: 0.5vh;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
