.accounts-component {
	z-index: 2000;
	.company-name {
		width: GetSize(20);
		height: GetSize(5);
		text-align: center;
		padding-top: GetSize(1.7);
		padding-right: GetSize(1);
		color: $Cool_Gray_Dark_3;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-transform: uppercase;
		background-color: $White;
		position: absolute;
		right: GetSize(5);
		opacity: 1;
		transition: opacity 1s ease-in;
		&.hover {
			opacity: 0;
		}
	}
	.accounts-component-wrapper {
		width: GetSize(5);
		height: GetSize(5);
		position: absolute;
		display: flex;
		flex-direction: row;
		top: 0;
		right: 0;
		background-color: $White;
		transition: width 2s, height 2s ease-in;
		overflow: hidden;

		.accounts-dropdown {
			width: GetSize(29);
			height: GetSize(17);

			opacity: 1;
			position: absolute;
			right: 0;

			.top-container {
				width: GetSize(29);
				display: flex;
				flex-direction: row;
				margin-bottom: GetSize(5);

				.company-name-overlay {
					width: GetSize(29);
					height: GetSize(5);
					text-align: center;
					padding-top: GetSize(1.7);
					padding-right: GetSize(7);
					color: $Cool_Gray_Dark_3;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					text-transform: uppercase;
					background-color: $Cool_Gray_Light_1;
					position: absolute;
					left: 0;
				}
				.image-overlay {
					width: GetSize(5);
					height: GetSize(5);
					background-color: $Cool_Gray_Light_1;
					position: absolute;
					right: 0;
					img {
						padding: 5px;
						width: GetSize(5);
						height: GetSize(5);
					}
				}
			}
			.multi-user {
				width: GetSize(29);
				height: GetSize(5);
				background: $White;
				display: flex;
				flex-direction: row;
				align-items: center;
				.company-link {
					margin-left: GetSize(2);
					color: $Cool_Gray_Dark_3;
				}
				.company-image {
					width: GetSize(3);
					height: GetSize(3);
					position: absolute;
					right: 0%;
					margin-right: GetSize(2);
					img {
						width: GetSize(3);
						height: GetSize(3);
						padding: 4px;
					}
				}
				&.trigger-animation-swipe {
					background-position: left bottom;

					.company-link {
						@include Text-Flow-Active;
						width: 100%;
					}
				}
			}
			.multi-user:last-child {
				height: GetSize(7);
				padding-bottom: GetSize(3);
			}

			.multi-user:after {
				content: '';
				display: block;
				left: 0;
				width: GetSize(25);
				height: 0vh;
				position: absolute;
				border-bottom: 1px solid $Cool_Gray_Light_3;
				margin-top: GetSize(2);
				margin-left: GetSize(2);
			}
			.single-user {
				// width: GetSize(38);
				// height: GetSize(10);
				width: GetSize(29) !important;
				height: GetSize(7);
				display: flex;
				flex-direction: column;
				background-color: $White;

				.title {
					width: GetSize(9);
					height: GetSize(2);
					padding-left: GetSize(2);
					align-self: flex-start;
					padding-top: GetSize(1);
					color: $Cool_Gray_Med_1;
				}
				.user-wrapper {
					display: flex;
					height: GetSize(3);
					padding-left: GetSize(2);
					flex-direction: row;
					.user-name {
						margin-top: GetSize(1.8);
						align-self: flex-start;
						color: $Cool_Gray_Dark_3;
					}
					.avatar {
						img {
							width: GetSize(3);
							height: GetSize(3);
						}
						align-self: flex-start;
						position: absolute;
						right: 0%;
						margin-right: GetSize(2);
						display: flex;
					}
				}
			}
			.single-user:after {
				content: '';
				display: block;
				left: 0;
				width: GetSize(25);
				height: 0vh;
				position: relative;
				border-bottom: 2px solid rgba(0, 0, 0, 0.16);
				margin-top: GetSize(2);
				margin-left: GetSize(2);
			}
		}
		.image {
			width: GetSize(5);
			height: GetSize(5);
			background-color: $Cool_Gray_Light_1;
			right: 0;
			position: absolute;

			img {
				padding: 5px;
				width: GetSize(5);
				height: GetSize(5);
			}
		}
		&.hover {
			width: GetSize(29);
			height: GetSize(12);

			.accounts-dropdown {
				//	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
			}
			&.multi-list-2 {
				height: GetSize(24);
			}
			&.multi-list-3 {
				height: GetSize(29);
			}
			&.multi-list-4 {
				height: GetSize(34);
			}
		}
	}
}
@media screen and (min-width: $medium-res + 1) and (max-width: $high-res) {
	.accounts-component {
		width: GetSize(38);
		.company-name {
			width: GetSize(30);
			height: GetSize(8);
			text-align: center;
			padding-top: GetSize(3);
			padding-right: GetSize(1);
			color: $Cool_Gray_Dark_3;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			text-transform: uppercase;
			background-color: $White;
			position: absolute;
			right: GetSize(8);
			opacity: 1;
			transition: opacity 1s ease-in;
			&.hover {
				opacity: 0;
			}
		}

		.accounts-component-wrapper {
			width: GetSize(8);
			height: GetSize(8);
			position: absolute;
			display: flex;
			flex-direction: row;
			top: 0;
			right: 0;
			background-color: $White;
			transition: width 2s, height 2s ease-in;
			overflow: hidden;

			.accounts-dropdown {
				width: GetSize(38);
				height: GetSize(17);
				opacity: 1;
				position: absolute;
				right: 0;

				.top-container {
					width: GetSize(38);
					display: flex;
					flex-direction: row;
					margin-bottom: GetSize(8);

					.company-name-overlay {
						width: GetSize(38);
						height: GetSize(8);
						text-align: center;
						padding-top: GetSize(3);
						padding-right: GetSize(9);
						color: $Cool_Gray_Dark_3;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						text-transform: uppercase;
						background-color: $Cool_Gray_Light_1;
						position: absolute;
						left: 0;
					}
					.image-overlay {
						width: GetSize(8);
						height: GetSize(8);
						background-color: $Cool_Gray_Light_1;
						position: absolute;
						right: 0;
						img {
							width: GetSize(8);
							height: GetSize(8);
						}
					}
				}
				.multi-user {
					width: GetSize(38);
					height: GetSize(6);
					background: $White;
					display: flex;
					flex-direction: row;
					align-items: center;
					.company-link {
						margin-left: GetSize(3);
						padding-top: 2px;
						color: $Cool_Gray_Dark_3;
					}
					.company-image {
						width: GetSize(4);
						height: GetSize(4);
						position: absolute;
						right: 0%;
						margin-right: GetSize(2);
						img {
							width: GetSize(4);
							height: GetSize(4);
						}
					}
					&.trigger-animation-swipe {
						background-position: left bottom;

						.company-link {
							@include Text-Flow-Active;
							width: 100%;
						}
					}
				}
				.multi-user:last-child {
					height: GetSize(10);
					padding-bottom: GetSize(4);
				}

				.multi-user:after {
					content: '';
					display: block;
					left: 0;
					width: GetSize(34);
					height: 0vh;
					position: absolute;
					border-bottom: 1px solid rgba(0, 0, 0, 0.16);
					margin-top: GetSize(3);
					margin-left: GetSize(2);
				}
				.single-user {
					width: GetSize(38);
					height: GetSize(9);
					display: flex;
					flex-direction: column;
					background-color: $White;

					.title {
						width: GetSize(9);
						height: GetSize(2);
						padding-left: GetSize(3);
						align-self: flex-start;
						padding-top: GetSize(1);
						color: $Cool_Gray_Med_1;
					}
					.user-wrapper {
						display: flex;
						height: GetSize(7);
						padding-left: GetSize(3);
						flex-direction: row;
						.user-name {
							padding-top: GetSize(1.5);
							align-self: flex-start;
							color: $Cool_Gray_Dark_3;
						}
						.avatar {
							padding-top: GetSize(0.5);
							img {
								width: GetSize(4);
								height: GetSize(4);
							}
							align-self: flex-start;
							position: absolute;
							right: 0%;
							margin-right: GetSize(2);
							display: flex;
						}
					}
				}
				.single-user:after {
					content: '';
					display: block;
					left: 0;
					width: GetSize(34);
					height: 0vh;
					position: relative;
					border-bottom: 1px solid rgba(0, 0, 0, 0.16);
					margin-top: GetSize(0);
					margin-left: GetSize(2);
				}
			}
			.image {
				width: GetSize(8);
				height: GetSize(8);
				background-color: $Cool_Gray_Light_1;
				right: 0;
				position: absolute;

				img {
					padding: 5px;
					width: GetSize(8);
					height: GetSize(8);
				}
			}
			&.hover {
				width: GetSize(38);
				height: GetSize(18);

				.accounts-dropdown {
					//box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
				}
				&.multi-list-2 {
					height: GetSize(34);
				}
				&.multi-list-3 {
					height: GetSize(40);
				}
				&.multi-list-4 {
					height: GetSize(46);
				}
			}
		}
	}
}

@media screen and (min-width: $high-res + 1) {
	.accounts-component {
		.company-name {
			width: GetSize(40);
			height: GetSize(10);
			text-align: center;
			padding-top: GetSize(3.7);
			padding-right: GetSize(1);
			color: $Cool_Gray_Dark_3;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			text-transform: uppercase;
			background-color: $White;
			position: absolute;
			right: GetSize(10);
			opacity: 1;
			transition: opacity 1s ease-in;
			&.hover {
				opacity: 0;
			}
		}
		.accounts-component-wrapper {
			width: GetSize(10);
			height: GetSize(10);
			position: absolute;
			display: flex;
			flex-direction: row;
			top: 0;
			right: 0;
			background-color: $White;
			transition: width 2s, height 2s ease-in;
			overflow: hidden;

			.accounts-dropdown {
				width: GetSize(50);
				height: GetSize(22);
				opacity: 1;
				position: absolute;
				right: 0;

				.top-container {
					width: GetSize(50);
					display: flex;
					flex-direction: row;
					margin-bottom: GetSize(10);

					.company-name-overlay {
						width: GetSize(50);
						height: GetSize(10);
						text-align: center;
						padding-top: GetSize(3.7);
						padding-right: GetSize(12);
						color: $Cool_Gray_Dark_3;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						text-transform: uppercase;
						background-color: $Cool_Gray_Light_1;
						position: absolute;
						left: 0;
					}
					.image-overlay {
						width: GetSize(10);
						height: GetSize(10);
						background-color: $Cool_Gray_Light_1;
						position: absolute;
						right: 0;
						img {
							width: GetSize(10);
							height: GetSize(10);
						}
					}
				}
				.multi-user {
					width: GetSize(50);
					height: GetSize(7);
					background: $White;
					display: flex;
					flex-direction: row;
					align-items: center;
					.company-link {
						margin-left: GetSize(4);

						color: $Cool_Gray_Dark_3;
					}
					.company-image {
						width: GetSize(5);
						height: GetSize(5);
						// position: absolute;
						// right: 0%;
						// margin-right: GetSize(2);
						img {
							width: GetSize(5);
							height: GetSize(5);
						}
					}
					&.trigger-animation-swipe {
						background-position: left bottom;

						.company-link {
							@include Text-Flow-Active;
							width: 100%;
						}
					}
				}
				.multi-user:last-child {
					height: GetSize(12);
					padding-bottom: GetSize(3);
				}

				.multi-user:after {
					content: '';
					display: block;
					left: 0;
					width: GetSize(44);
					height: 0vh;
					position: absolute;
					border-bottom: 1px solid rgba(0, 0, 0, 0.16);
					margin-top: GetSize(4);
					margin-left: GetSize(4);
				}
				.single-user {
					width: GetSize(50);
					height: GetSize(12);
					display: flex;
					flex-direction: column;
					background-color: $White;

					.title {
						width: GetSize(9);
						height: GetSize(3);
						padding-left: GetSize(4);
						align-self: flex-start;
						padding-top: GetSize(3);
						color: $Cool_Gray_Med_1;
					}
					.user-wrapper {
						display: flex;
						height: GetSize(7);
						padding-left: GetSize(4);
						flex-direction: row;
						.user-name {
							padding-top: GetSize(2);
							align-self: flex-start;
							color: $Cool_Gray_Dark_3;
						}
						.avatar {
							img {
								width: GetSize(5);
								height: GetSize(5);
							}
							// align-self: flex-start;
							// position: absolute;
							// right: 0%;
							// margin-right: GetSize(2);
							// display: flex;
						}
					}
				}
				.single-user:after {
					content: '';
					display: block;
					left: 0;
					width: GetSize(44);
					height: 0vh;
					position: relative;
					border-bottom: 1px solid rgba(0, 0, 0, 0.16);
					margin-top: GetSize(0);
					margin-left: GetSize(4);
				}
			}
			.image {
				width: GetSize(10);
				height: GetSize(10);
				background-color: $Cool_Gray_Light_1;
				right: 0;
				position: absolute;

				img {
					padding: 5px;
					width: GetSize(10);
					height: GetSize(10);
				}
			}
			&.hover {
				width: GetSize(50);
				height: GetSize(22);

				.accounts-dropdown {
					//box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
				}
				&.multi-list-2 {
					height: GetSize(44);
				}
				&.multi-list-3 {
					height: GetSize(51);
				}
				&.multi-list-4 {
					height: GetSize(58);
				}
			}
		}
	}
}
