html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	filter: none;
}

body.loading {
	filter: blur(3px);
	.blox-clickable {
		pointer-events: none;
	}
}

#root,
.App {
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}
