// //styling taken from zeplin - waiting on wireframe to style
// .account-info-with-button{
//     width: 369px;
//     height: 167.6px;
//     border-radius: 2px;
//     text-align: center;
//     background-color: grey;
// .balance{
//     width: 173px;
//     height: 49px;
//     font-family: 'ProximaNova';
//     font-size: 40px;
//     font-weight: bold;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.23;
//     letter-spacing: normal;
//     text-align: center;
//     color: $COMPANY_Black;
// }

// .next-payment{
//     width: 357px;
//     height: 19px;
//     font-family: 'ProximaNova';
//     font-size: 14px;
//     font-weight: 600;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.21;
//     letter-spacing: normal;
//     text-align: center;
//     color: $COMPANY_Black;
// }

// .text{
//     width: 347px;
//     height: 37px;
//     font-family: 'ProximaNova';
//     font-size: 12px;
//     font-weight: 600;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.25;
//     letter-spacing: normal;
//     text-align: center;
//     color: $COMPANY_Black;
// }

// }

.amount-due-style {
	font-family: 'ProximaNova';
	font-size: 5vh;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: normal;
	text-align: center;
	color: $COMPANY_Black;
	padding-top: 1.5vh;
	padding-bottom: 0vh;
}

.next-payment-due-style {
	font-family: 'ProximaNova';
	font-size: 2vh;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: normal;
	text-align: center;
	color: $COMPANY_Black;
	padding-bottom: 0.3vh;
}

.additional-text-style {
	font-family: 'ProximaNova';
	font-size: 1.3vh;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: center;
	color: $COMPANY_Black;
	padding-top: 0.2vh;
	padding-bottom: 1vh;
}

//Small block by default
#account-info-block {
	width: 23.9vw;
	height: 19.5vh;
	@include Text-Style-30;
	background-color: $White;

	.button {
		margin-left: 7vw;
		line-height: 0vh;
	}
	.amount-due {
		@extend.amount-due-style;
	}
	.next-payment-due {
		@extend .next-payment-due-style;
	}

	.additional-text {
		@extend .additional-text-style;
	}
}
//large block
#account-info-block-lg {
	width: 32vw;
	height: 19vh;
	@include Text-Style-30;
	background-color: $White;
	margin-bottom: 1vh;

	.button {
		margin-left: 13vw;
	}
	.amount-due {
		@extend.amount-due-style;
	}
	.next-payment-due {
		@extend .next-payment-due-style;
	}
	.additional-text {
		@extend .additional-text-style;
	}
}

.button {
	margin-left: 13vw;
}
.amount-due {
	@extend.amount-due-style;
}
.next-payment-due {
	@extend .next-payment-due-style;
}
.additional-text {
	@extend .additional-text-style;
}
