.carousel-container {
	position: relative;

	width: calculateVw(540, 1440);
	.nav-container-right {
		z-index: 2000;
		right: 0%;
		top: 0%;
		position: absolute;
		height: calculateVh(170, $standard-screen-height-mid);
		width: calculateVw(30, 1440);
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: $Cool_Gray_Light_2;

		.nav-arrow-right {
			width: calculateVw(20, 1440);
			height: calculateVw(20, 1440);
			border-radius: 25px;
			cursor: pointer;
			position: relative;
			.arrow-image {
				position: absolute;
				left: 30%;
				top: -5%;
				img {
					width: calculateVw(10, 1440);
					height: calculateVh(15, 1440);
				}
			}
		}
	}
	.nav-container-left {
		height: calculateVh(170, $standard-screen-height-mid);
		position: absolute;
		width: calculateVw(30, 1440);
		left: 0%;
		top: 0%;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: $Cool_Gray_Light_2;
		.nav-arrow-left {
			width: calculateVw(20, 1440);
			height: calculateVw(20, 1440);
			cursor: pointer;
			transform: rotate(180deg);
			border-radius: 25px;
			position: relative;
			margin-left: 0.3vw;
			.arrow-image {
				position: absolute;
				right: 20%;
				bottom: 0%;

				img {
					width: calculateVw(10, 1440);
					height: calculateVh(15, 1440);
				}
			}
		}
	}
	.nav-arrow-left:hover,
	.nav-arrow-right:hover {
		background-color: $Cool_Gray_Light_3;
	}

	&.portal-user-management {
		width: GetSize(46);

		.nav-container-left {
			width: GetSize(3);
			height: GetSize(14);
			background-color: transparent;
			.nav-arrow-left {
				border-radius: 0px;
				img {
					width: 6px;
					height: 14.4px;
				}
			}
		}
		.nav-container-right {
			width: GetSize(3);
			height: GetSize(13);
			background-color: transparent;
			.nav-arrow-right {
				border-radius: 0px;
				img {
					width: 6px;
					height: 14.4px;
				}
			}
		}
		.nav-arrow-left:hover,
		.nav-arrow-right:hover {
			background-color: transparent;
		}
		@media screen and (min-width: $medium-res + 1) and (max-width: $high-res) {
			width: GetSize(68);
			height: GetSize(20);
			.nav-container-right {
				width: GetSize(3);
				height: GetSize(20);
				background-color: transparent;
				.nav-arrow-right {
					border-radius: 0px;
					img {
						width: 6.7px;
						height: GetSize(2);
					}
				}
			}
			.nav-container-left {
				width: GetSize(3);
				height: GetSize(20);
				background-color: transparent;
				.nav-arrow-left {
					border-radius: 0px;
					img {
						width: 6.7px;
						height: GetSize(2);
					}
				}
			}
		}

		@media screen and (min-width: $high-res + 1) {
			height: GetSize(24);
			width: GetSize(20);
			.nav-container-right {
				width: GetSize(3);
				height: GetSize(24);
				background-color: transparent;
				.nav-arrow-right {
					border-radius: 0px;

					img {
						width: 10px;
						height: GetSize(3);
					}
				}
			}
			.nav-container-left {
				width: GetSize(3);
				height: GetSize(24);
				background-color: transparent;
				.nav-arrow-left {
					border-radius: 0px;

					img {
						width: 10px;
						height: GetSize(3);
					}
				}
			}
		}
	}
}
