.carousel-container {
	position: relative;

	width: calculateVw(540, 1440);
	.nav-container-right {
		z-index: 2000;
		right: 0%;
		top: 0%;
		position: absolute;
		height: calculateVh(170, $standard-screen-height-mid);
		width: calculateVw(30, 1440);
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: $Cool_Gray_Light_2;

		.nav-arrow-right {
			width: calculateVw(20, 1440);
			height: calculateVw(20, 1440);
			border-radius: 25px;
			cursor: pointer;
			position: relative;
			.arrow-image {
				position: absolute;
				left: 30%;
				top: -5%;
				img {
					width: calculateVw(10, 1440);
					height: calculateVh(15, 1440);
				}
			}
		}
	}
	.nav-container-left {
		height: calculateVh(170, $standard-screen-height-mid);
		position: absolute;
		width: calculateVw(30, 1440);
		left: 0%;
		top: 0%;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: $Cool_Gray_Light_2;
		.nav-arrow-left {
			width: calculateVw(20, 1440);
			height: calculateVw(20, 1440);
			cursor: pointer;
			transform: rotate(180deg);
			border-radius: 25px;
			position: relative;
			margin-left: 0.3vw;
			.arrow-image {
				position: absolute;
				right: 20%;
				bottom: 0%;

				img {
					width: calculateVw(10, 1440);
					height: calculateVh(15, 1440);
				}
			}
		}
	}
	.nav-arrow-left:hover,
	.nav-arrow-right:hover {
		background-color: $Cool_Gray_Light_3;
	}
}
