.rdt {
	margin-top: 1vh;
	margin-bottom: 2vh;
	position: relative;
	width: 16vw;

	.form-control {
		padding-left: 2.3vw;
		padding-bottom: 1.1vh;
		color: $COMPANY_Gray;
		font-family: $proxima-nova-light;
		border-bottom: solid 1px $Purple;
		border-radius: 0px;
	}

	input {
		height: 2.1vh;
		width: 12.2vw;
		outline: none;
		border-bottom: solid 1px $Purple;
		$map: (
			576: 10,
			1440: 13,
			2560: 16,
		);
		font-size: least-squares-fit($map);
		border-left: none;
		border-right: none;
		border-top: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	input:focus {
		width: 12.2vw;
		outline: none;
		border-bottom: solid 1px $Purple;
		border-left: none;
		border-right: none;
		border-top: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.rdtOpen {
	outline: none;
}

.rdtPicker {
	color: $COMPANY_Gray;
	font-family: $proxima-nova-light;
	$map: (
		576: 10,
		1440: 13,
		2560: 17,
	);
	font-size: least-squares-fit($map);
	display: none;
	position: absolute;
	width: 250px;
	padding: 4px;
	margin-top: 0.2vh;
	z-index: 99999 !important;
	background: $White;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
	display: block;
}
.rdtStatic .rdtPicker {
	box-shadow: none;
	position: static;
}

.rdtPicker .rdtTimeToggle {
	text-align: center;
}

.rdtPicker table {
	width: 100%;
	margin: 0;
}
.rdtPicker td,
.rdtPicker th {
	text-align: center;
	height: 30px;
}
.rdtPicker td {
	cursor: pointer;
	border: 1px solid rgb(211, 211, 211);
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
	background: rgba(161, 66, 245, 0.15);
	cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
	color: rgba(161, 66, 245, 0.15);
}
.rdtPicker td.rdtToday {
	position: relative;
}
.rdtPicker td.rdtToday:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-bottom: 7px solid $Purple;
	border-top-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
	background-color: $Purple;
	color: $White;
	// text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
	border-bottom-color: $White;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
	background: none;
	color: rgba(161, 66, 245, 0.15);
	cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
	color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
	background: none;
	color: rgba(161, 66, 245, 0.15);
	cursor: not-allowed;
}
.rdtPicker th {
	border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
	opacity: 0.2;
	width: 14.2857%;
	border-bottom: none;
	cursor: default;
}
.rdtPicker th.rdtSwitch {
	width: 100px;
}
.rdtPicker th.rdtNext {
	span {
		content: url('https://hidden/cdn/library/common/calendar-arrow-circle.png');
		width: 1.7vw;
		margin-left: 1vw;
	}
}
.rdtPicker th.rdtPrev {
	span {
		content: url('https://hidden/cdn/library/common/calendar-arrow-circle-left.png');
		width: 1.7vw;
	}
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
	font-size: 21px;
	vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
	display: block;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
	background: none;
	color: rgba(161, 66, 245, 0.15);
	cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
	cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
	//  background: rgba(161, 66, 245, 0.15);
}

.rdtPicker tfoot {
	border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
	border: none;
	background: none;
	cursor: pointer;
}
.rdtPicker button:hover {
	background-color: rgba(161, 66, 245, 0.15);
}

.rdtPicker thead button {
	width: 100%;
	height: 100%;
}

td.rdtMonth,
td.rdtYear {
	height: 50px;
	width: 25%;
	cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
	background: #eee;
}

.rdtCounters {
	display: inline-block;
}

.rdtCounters > div {
	float: left;
}

.rdtCounter {
	height: 100px;
}

.rdtCounter {
	width: 40px;
}

.rdtCounterSeparator {
	line-height: 100px;
}

.rdtCounter .rdtBtn {
	height: 40%;
	line-height: 40px;
	cursor: pointer;
	display: block;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.rdtCounter .rdtBtn:hover {
	//background: #eee;
}
.rdtCounter .rdtCount {
	height: 20%;
	font-size: 1.2em;
}

.rdtMilli {
	vertical-align: middle;
	padding-left: 8px;
	width: 48px;
}

.rdtMilli input {
	width: 100%;
	font-size: 1.2em;
	margin-top: 37px;
}

.rdtTime td {
	cursor: default;
}
