.default-filter-wrapper {
	//margin-top: 0.3vw;
	position: relative;
	width: 9.5vw;
	margin-left: 0vw;
	height: 2.7vw;
	border-radius: 2px;
	border-bottom: 2px solid $Purple;
	display: inline-block;
	cursor: pointer;
	.dd-title {
		@include Drop-Down-Selection;
		$map: (
			576: 9,
			1440: 16,
			2560: 20,
		);
		font-size: least-squares-fit($map);
		width: 7.3vw;
		color: $COMPANY_Gray;
		margin-top: 1.6vw;
		margin-left: -1.6vw;
		text-align: left;
	}
	.label {
		margin-top: -14vw;
		margin-left: -4.6vw;
		border-style: none;
		@include Text-Style-Text-Input-Label;
	}

	.default-filter {
		.description {
			color: $COMPANY_Gray;
			// margin-left:-9vw;
			font-size: 14px;
			$map: (
				576: 9,
				1440: 12,
				2560: 16,
			);
			font-size: least-squares-fit($map);
			font-family: $font-family-primary-heads;
		}
	}
	.default-filter li {
		list-style: none;
		padding: 0.3vw;
		color: $COMPANY_Gray;
		height: 3.1vh;
		width: 9.5vw;
		@include Drop-Down-Options;
		$map: (
			576: 6,
			1440: 13,
			2560: 11,
		);
		font-size: least-squares-fit($map);
	}
	.default-filter li:hover {
		background-color: rgba(161, 66, 245, 0.15);
	}
	.default-filter ul {
		z-index: 900;
		font-family: $font-family-primary-subheads;
		top: 2.8vw;
		font-size: 1vw;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 9.5vw;
		padding: 0px 0px;
		background-color: $White;
		background-image: none;
		border: none;
		-ms-word-break: normal;
		word-break: normal;
		position: absolute;
		cursor: pointer;
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25) !important;
	}
	select::-ms-expand {
		display: none;
	}
	.default-filter:after {
		content: '>';
		font: 1.5vh 'Consolas', monospace;
		color: $COMPANY_Gray;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		// top: 2.9vh;
		// left: 8.8vw;
		bottom: 10%;
		right: 3%;
		position: absolute;
		pointer-events: none;
	}
}

.sort-arrow {
	position: absolute;
	width: 1.8vw;
	margin-top: 1.8vh;
	margin-left: 1vw;
}
