.forgot-password-wrapper {
	.error-modal {
		.modal-backdrop {
			z-index: 4000;
		}

		height: 0px;
		.modal-body {
			width: calculateVw(403, 1440);
			height: calculateVh(500, 1440);
			background-color: $Cool_Gray_Light_2;
			min-height: 300px;

			&.success {
				height: calculateVh(380, 1440);
				min-height: 220px;
				border: none;
			}
		}
		.modal-header {
			width: calculateVw(403, 1440);
			background-color: $Cool_Gray_Light_2;
			border: solid 2px $Cool_Gray_Light_2;
		}

		.modal-content {
			margin-top: 18vh;
			border: none;

			.modal-footer {
				border: none;
			}
		}
		.exit {
			z-index: 200;
		}
	}

	.reset-password {
		margin-top: 4vw;
		position: relative;
		min-height: 200px;

		.email {
			margin-top: 3vh;
		}
		&.mail {
			img {
				width: calculateVw(210, 1440);
				margin-right: 0vw;
			}
		}
		img {
			z-index: 10;
			width: calculateVw(230, 1440);
			position: absolute;
			right: 0;
			left: 10vw;
			margin-top: -7vw;
			margin-right: -0.9vw;
			pointer-events: none;
		}

		.message-large {
			margin-top: 1vw;
			@include Roster-Modal;
			color: $DCBLOX_Gray;
		}
		.message {
			@include Small-Text;
			margin-top: 1vh;
			color: $DCBLOX_Gray;
		}
		.input {
			margin-left: 5vw;
			margin-top: 1.5vh;
			.blox-text-input {
				&.active {
					.label-row {
						.checkmark.success {
							opacity: 0;
						}
					}
				}
			}
		}

		.reset-button {
			margin-top: 2vh;
			z-index: 20;
		}
	}
}

.forgot-password-modal {
	z-index: 2550;
}
.modal-open {
	.modal {
		z-index: 4000;
	}
}
