.icon-input-component {
	display: flex;
	flex-direction: row;
	box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.3);
	.icon-section {
		flex: 0 0 auto;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
	.details-section {
		flex: 1 0 auto;
		text-align: center;
		background-color: $COMPANY_White;
	}
}
