.interactive-icon {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//height: 100%;
	cursor: pointer;
	position: relative;
	.background {
		pointer-events: none;
		width: calculateVw(355, 1440);
		height: calculateVh(180, 1440);
	}
	.content {
		align-self: center;
		z-index: 200 !important;
		position: absolute;
		display: flex;
		display: -ms-flexbox;
		flex-direction: column;
		padding-top: calculateVh(5px, 1440);
		min-width: calculateVw(60px, 1440);
		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
			margin-top: calculateVh(0px, $standard-screen-height-mid);
			//transform: translateY(-12vh);
			//position: relative;
			top: 16%;
			left: 28%;
		}

		.icon {
			transition: transform 0.3s ease;
			width: calculateVw(35, 1440);
			align-self: center;
			@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
				margin-top: calculateVh(-6px, $standard-screen-height-mid);
			}
		}
		.title {
			transition: all 0.5s ease;
			align-self: center;
			margin-top: calculateVh(10px, $standard-screen-height-mid);
		}
		&.back {
			.title {
				@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
					margin-top: calculateVh(-7px, $standard-screen-height-mid);
				}
			}
			.icon {
				@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
					margin-top: calculateVh(-12px, $standard-screen-height-mid);
				}
			}
		}

		.back-content {
			transition: all 0.3s ease;
			opacity: 0;
			transform: translateY(30px);
		}
		.inactive {
			opacity: 0.5;
		}

		&:hover {
			.icon {
				transform: translateY(-2px) scale(0.5);
			}
			.title {
				transform: translateY(-10px);
				opacity: 0;
			}
			.back-content {
				transform: translateY(-20px);

				opacity: 1;
				div {
					height: calculateVh(15px, 1024);
				}
			}
		}
	}
	.title {
		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
			margin-top: calculateVh(0px, $standard-screen-height-mid);
			padding-top: 5px;
		}
		font-family: $font-family-primary-subheads;
		$size_map: (
			576: 10,
			1440: 12,
			2560: 14,
		);
		$line_height_map: (
			576: 1.3,
			1440: 1.5,
			2560: 1.5,
		);
		font-size: least-squares-fit($size_map);
		line-height: least-squares-fit($line_height_map);
		letter-spacing: 0.6px;
		text-align: center;
		color: $White;
	}
	.back-content {
		//margin-top: calculateVh(15px, $standard-screen-height-mid);
		margin-top: 10px;
		font-family: $font-family-primary-subheads;
		$size_map: (
			576: 10,
			1440: 12,
			2560: 14,
		);
		$line_height_map: (
			576: 1.3,
			1440: 1.5,
			2560: 1.5,
		);
		font-size: least-squares-fit($size_map);
		line-height: least-squares-fit($line_height_map);
		letter-spacing: 0.6px;
		text-align: center;
		color: $White;
	}
}
