//this prevents gradient from moving to the left in IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.login-page {
		left: 2% !important;
	}
}

.login-page {
	position: absolute;
	flex: 0 1 auto;
	top: 0;
	width: 96.48%;
	height: 92.36vh;
	opacity: 0.95;
	align-self: center;

	.background-img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -999;
	}

	.login-form {
		padding-left: 2.93vw;
		padding-right: 2.93vw;
		padding-top: 9.17vh;
		width: 100%;
		height: auto;
	}
}

.gradient-img {
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 96%;
	// height: 40%;
	height: calculateVh(1350px, 1440);
	margin-left: calculateVw(30px, 1440);
	opacity: 0.95;
}

.purple-background {
	transform: none !important;
	width: 100% !important;
}
.forgot-password-link {
	cursor: pointer;
	@include Forgot-Password;
}
