@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	.login-page.registration {
		background: url('https://hidden.png') top center no-repeat fixed,
			linear-gradient(150deg, rgb(65, 27, 100) 20%, rgb(29, 104, 190) 70%) !important;
		background-size: cover !important;
	}
}

@supports (-ms-ime-align: auto) {
	/* Edge 13+ */
	.login-page.registration {
		background: url('https://hidden.png') top center no-repeat fixed,
			linear-gradient(150deg, rgb(65, 27, 100) 20%, rgb(29, 104, 190) 70%) !important;
		background-size: cover !important;
	}
}

.login-page.registration {
	width: 100%;
	height: 100%;
	opacity: 1;
	background: url('https://hidden.png') top center no-repeat fixed,
		url('https://hidden.png') top center no-repeat fixed;
	background-blend-mode: multiply;
	background-size: 100% 100vh;

	.registration-form {
		z-index: 4;
		align-items: center;
		height: 100%;

		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
			/* IE10+ specific styles go here */
			.password-registration-body {
				margin: 22.5vh auto !important;
			}
		}

		@supports (-ms-ime-align: auto) {
			/* Edge 13+ */
			.password-registration-body {
				margin: 22.5vh auto !important;
			}
		}

		.password-registration-body {
			margin: 21vh auto;
			width: 35%;

			.icon-input-component {
				.icon-section {
					flex: 0 1 11vw;
					background-color: #547bb0;
					height: 10.2vw;
					box-shadow: none;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.details-section {
					flex: 0 1 28vw;
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 10.2vw;
					box-shadow: none;

					.message-text {
						height: auto;
						padding-top: 0.8vh;
						padding-left: 1.17vw;

						.user-name {
							@include Text-Style-Password-Registration-Username;
						}
						.start {
							float: left;
							margin-top: 0.7vh;
							@include Text-Style-Password-Registration-Start;

							.content {
								@include Text-Style-Password-Registration-Content;
							}
						}
						.start:after {
							clear: both;
						}
					}

					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
						/* IE10+ specific styles go here */
						.login_input_box {
							margin: 4vh auto !important;
						}
					}

					.login_input_box {
						position: relative;
						margin: auto auto;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						padding-left: 0;
						height: auto;
						padding-right: 0;
						width: 25vw;

						@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
							/* IE10+ specific styles go here */
							.login_icons {
								flex: 0 1 4vw !important;
							}
						}

						.login_icons {
							flex: 0 1 8vw;
							display: flex;
							flex-direction: row;
							justify-content: flex-end;
							background-color: $COMPANY_White;
							border: none;
							height: auto;
							padding-top: 1.2vh;
							padding-left: 1vw;
							padding-right: 3vw;

							.icon {
								color: #9fa2a3;
								display: flex;
								flex-direction: column;
								justify-content: flex-start;
								align-items: center;
								padding-left: 0;
								padding-right: 0;
								margin-top: 0;
								width: 1.67vw;
								@include Text-Style-Credential-Icons;

								div {
									margin-top: 1vh;
								}
							}

							.indicator {
								border-radius: 30px;
								margin-top: 0.35vh;
							}

							#new_password_indicator {
								margin-left: 0;
								width: 0.47vw;
								height: 0.47vw;
							}

							#confirm_pwd_indicator {
								margin-left: 0;
								width: 0.47vw;
								height: 0.47vw;
							}
						}

						.login_input {
							flex: 0 1 17vw;
							padding-right: 1.5vw;
							display: flex;
							flex-direction: column;
							padding-top: 1.2vh;

							@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
								/* IE10+ specific styles go here */
								input {
									font-size: 1em;
									letter-spacing: 0.1vw;
								}
							}

							@supports (-ms-ime-align: auto) {
								/* Edge 13+ */
								input {
									font-size: 1em;
									letter-spacing: 0.1vw;
								}
							}

							input {
								display: inline-block;
								padding-left: 1.56vw;
								background-color: #e4e4e3;
								border-radius: 5px;
								width: 100%;
								height: 4.31vh;
								box-shadow: 0px 0px 10px rgba(75, 75, 75, 0.4);
								color: #2b7ee2;
							}
						}
					}
				}
			}
		}
	}
}

.tippy-popper {
	width: calculateVw(320px, $standard-screen-width-mid);
	margin-left: calculateVw(20px, $standard-screen-width-mid);
	.tippy-tooltip-content {
		min-height: 13.26vh;
		height: auto;
		line-height: 170%;
		text-align: left;
	}
	.tippy-tooltip [x-circle] {
		border-radius: 0;
	}
}
