.user-loading {
	margin-top: calculateVh(20px);
	margin-left: calculateVw(34px, $standard-screen-width-mid);
	@include User-Management-Menu;
}

.COMPANY-cycle-view {
	.portal-user-list {
		flex: 1 0 auto;
		padding-top: calculateVh(29.7px);
		padding-left: calculateVw(34px, $standard-screen-width-mid);
		padding-right: calculateVw(34px, $standard-screen-width-mid);
		overflow: hidden;
		.user-block {
			width: 100%;
		}
		.user-block:not(:first-child) {
			margin-top: calculateVh(10px);
		}
	}
}
