.portal-user-overview {
	border: 1px solid blue;
	width: 368px;
	height: GetSize(14);
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
	background-color: $White;
	padding-top: GetSize(2);
	padding-bottom: GetSize(2);
	display: flex;

	.users {
		overflow: hidden;
	}
	.overview-user-wrapper {
		display: flex;
		width: 100%;
		border: 1px solid green;
		height: GetSize(10);
	}

	.portal-user-overview-block {
		margin-right: GetSize(1);
	}
}

@media screen and (min-width: $medium-res + 1) and (max-width: $high-res) {
	border: 1px solid red;
}

@media screen and (min-width: $high-res + 1) {
	border: 1px solid green;
}
