.profile-card {
  width: 8.5vw;
  margin: 0 auto;

  .wrapper {
      background: $White;
      border: 1px solid $White;
      width: 8.4vw;
      
      .image {
          position: relative;
          display: inline-block;
          width: 8.26vw;

          img {
              flex-shrink: 0;
              min-width: 97%;
              max-height: 97%;
              width: 8.4vw;
              padding-right: 0.1vw;
              height: auto;
          }
      }

      .image::after {
          box-shadow: 1.9px 2.3px 9.5px 0.5px rgba(0, 0, 0, 0.35) inset;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          width: 100%;
      }

      .name {
          margin: .5vh 0vw;
          @include Text-Style-Profile-Card-Name;
      }
  }
}