.roster-user-overview {
	width: GetSize(46);
	height: GetSize(14);
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
	background-color: $White;
	padding-top: GetSize(2);
	padding-bottom: GetSize(2);
	padding-left: GetSize(3);

	.row-wrapper {
		display: block;
	}
	.row-1 {
		display: flex;
	}

	@media screen and (min-width: $medium-res + 1) and (max-width: $high-res) {
		width: GetSize(68);
		height: GetSize(20);

		padding-top: GetSize(3);
		padding-bottom: GetSize(3);
		padding-left: GetSize(4);
	}

	@media screen and (min-width: $high-res + 1) {
		width: GetSize(114);
		height: GetSize(34);
		padding-top: GetSize(5);
		padding-bottom: GetSize(5);
		padding-left: GetSize(6);
	}
}
