.ticket-count-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 100;
	.progress-background {
		width: calculateVw(90px, 1440);
		height: calculateVh(190px, 1440);
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: calculateVw(90px, 1440);
			height: calculateVh(190px, 1440);
		}
	}

	.progress-circle {
		width: 100%;
		height: 100%;
		.CircularProgressbar {
			width: 100%;
			height: 100%;
		}
	}

	.new-title {
		@include Text-Style-Ticket-Indicator;
		align-self: center !important;
	}
	.count {
		@include Numbers30;
		z-index: 3000;
		color: $White;
	}
	.CircularProgressbar {
		width: calculateVw(100, 1440);
		height: 100%;
		padding: 8px;
		@media screen and (min-width: ($medium-res + 1px)) and (max-width: $high-res) {
			padding: 0px;
		}
		@media screen and (min-width: ($high-res + 1)) {
			padding: 24px;
		}

		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
			height: calculateVh(173, 1440);
		}
	}
	.CircularProgressbar + div {
		top: 0;
		margin-top: 0 !important;
	}
	.CircularProgressbar-path {
		stroke: #b4d333;
	}
	.CircularProgressbar-trail {
		stroke: $Dark_Purple;
	}
	.CircularProgressbar-background {
		fill: #573a6b;
	}
}

.progress-circle-wrapper {
	margin-top: 5vh;
	padding-right: 0.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8vh;
	position: relative;
	.total {
		@include Text-Style-Ticket-Indicator;
		position: absolute;
		top: -12%;
		left: 22%;
	}
	.progress-background {
		width: calculateVw(100px, 1440);
		height: calculateVh(140px, 1440);
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			margin-top: 7vh;
			width: calculateVw(95px, 1440);
			height: calculateVh(137px, 1440);
		}
	}
	.circle {
		display: flex;
		flex-direction: row;
		margin-left: calculateVw(11px, 1440);
		justify-content: center;
		align-items: center;
		transition: transform 0.5s ease-in-out;
		transform: translateY(0px);
	}

	svg {
		position: absolute;
		width: calculateVw(120px, 1440);
		height: calculateVh(150px, 1440);

		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
			top: 0%;
			left: -8%;
			width: calculateVw(111px, 1440);
			height: calculateVh(141px, 1440);
			margin-top: 7vh;
		}

		.indicator {
			transition: stroke-dashoffset 1s;
			transform-origin: center center;
			transform: rotate(-90deg);
			stroke-dasharray: 220;
			stroke-dashoffset: 220;
		}

		.percentage {
			@include Numbers30;
		}

		.type {
			@include Text-Style-Ticket-Indicator;
			position: absolute;
			top: -22vw;
		}
	}

	.title {
		z-index: 30;
		position: relative;
		top: -26.5vh;
		left: 2vw;
		@include Text-Style-Ticket-Indicator;
	}
	&.monthly {
		.percentage {
			@include long-shadow(text, rgb(0, 131, 136), 70, true, true);
		}
		.total {
			top: -15%;
			left: 1%;
		}
	}
}
