.credential-input-component {
	position: absolute;
	width: 400px;
	@include FlexboxRow;
	.login_icons {
		display: inline-block;
		background-color: rgba(129, 113, 153, 1);
		border: 1px solid rgba(129, 113, 153, 1);
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		width: calc(0.25 * #{$input-box-width});
		min-height: 45px;
		height: 45px;
		padding-top: 5px;
		line-height: 1.1em;
		color: $DCBLOX_White;

		.icon {
			display: inline-block;
			padding-left: 12px;
			margin-top: -40px;
		}

		.indicator {
			border: 0.8px solid $White;
			background-color: rgba(255, 255, 255, 0.1);
			box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.25);
			border-radius: 30px;
			width: 12px;
			height: 12px;
			margin-left: 2px;
			margin-top: 6px;
		}

		.indicator.SUCCESS {
			position: relative;
			z-index: 1;
			background-color: $DCBLOX_Lime !important;
			border-color: $DCBLOX_Lime !important;
			box-shadow: 0px 0px 7px $DCBLOX_Lime !important;
			animation: beat 1.5s ease 0s 1 forwards;
		}

		.indicator.ERROR {
			position: relative;
			z-index: 1;
			background-color: rgb(202, 41, 41) !important;
			border-color: rgb(202, 41, 41) !important;
			box-shadow: 0px 0px 5px rgb(119, 2, 2) !important;
			animation: beat 1.5s ease 0s 1 forwards;
		}

		.indicator.SUCCESS:before,
		.indicator.ERROR:before {
			content: '';
			position: absolute;
			z-index: -1;

			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			border: 1px solid white;
			opacity: 0;
			border-radius: inherit;
			animation: beat-before 1.5s ease 100ms 1;
		}
	}

	.login_input {
		padding: 0px;
	}

	input {
		display: inline-block;
		min-height: 45px;
		height: 45px;
		padding-left: 0.5em;
		width: 240px;
		caret-color: $DCBLOX_Red;
		color: $Cool_Gray_Med_2;
		background-color: rgba(129, 113, 153, 1);
		border: 0px solid rgba(129, 113, 153, 1);
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

		&:focus {
			outline-width: 0;
		}

		&::placeholder {
			color: $White;
		}

		&.no-blinking {
			caret-color: transparent;
		}
	}
}
