.ticket-count-section {
	@include FlexboxCenter;
	z-index: 100;

	.status-label {
		@include Text-Style-Ticket-Indicator;
		z-index: 3000;
		color: $White;
	}
	.CircularProgressbar {
		width: 100%;
		height: 100%;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.CircularProgressbar {
			& + div {
				margin-top: -50% !important;
			}
		}
	}
	.CircularProgressbar-path {
		stroke: #b4d333;
	}
	.CircularProgressbar-trail {
		stroke: $Dark_Purple;
	}
	.CircularProgressbar-background {
		fill: #573a6b;
	}
}
