.release {
	height: 100%;
	-ms-overflow-style: none;
	.release-list-wrapper {
		background-color: $Cool_Gray_Light_3;
		width: calculateVw(615, 1440);
		padding: calculateVw(20, 1440);
		padding-top: 0;
		text-align: left;
		height: 100%;

		.year {
			@include Price-Medium;
		}
		.sprint {
			@include Body-Copy-2560;
			color: $Purple;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.content {
		background-color: $Cool_Gray_Light_3;
		scrollbar-width: none;
		/** New */
		// height: calculateVh(610, $standard_screen_height_mid) !important;
	}
	.scroll-view {
		background-color: $Cool_Gray_Light_3;

		&.expanded {
			.scrollbar-img {
				height: calculateVh(105px, 1440);
				width: calculateVw(11px, 1440);
				margin-right: 1.48vw;
			}
			.scrollbar-track {
				margin-right: 1.5vw;
			}
		}
	}
}
