.billing-overview-page {
	.ticket-count-section {
		.CircularProgressbar-path {
			stroke: $Med_Lime;
		}
		.CircularProgressbar-trail {
			stroke: $DCBLOX_Lime;
		}
		.CircularProgressbar-background {
			fill: rgba(131, 129, 5, 0.9);
		}
		.count {
			color: $White;
		}
		.status-label {
			padding-top: GetSize(2);
		}
		&.hide {
			display: none;
		}
	}
}
