/* Invoice Table */
.invoice-table {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;

	thead {
		background-color: #257ce1;

		tr {
			th {
				@include Text-Style-th;
				color: $White;
			}
		}
	}

	tbody {
		.invoice-number {
			width: 3.13vw;
			background-color: $COMPANY_White;
			@include Text-Style-td-over-gray;
		}
		.date-due {
			width: 3.09vw;
			background-color: $COMPANY_White;
			@include Text-Style-td-over-gray;
		}
		.date-sent {
			width: 3.05vw;
			background-color: $COMPANY_White;
			@include Text-Style-td-over-white;
		}
		.amt-due {
			width: 3.91vw;
			background-color: $COMPANY_White;
			@include Text-Style-td-over-white;
		}
		.amt-past-due {
			width: 3.63vw;
			background-color: $COMPANY_White;
			@include Text-Style-td-over-gray;
		}
		.pdf-button.view {
			background-color: $Med_Lime;
			width: 4.49vw;

			img {
				width: 100%;
				height: 100%;
			}
		}
		.pdf-button.view.disabled {
			pointer-events: none;
		}
		.pdf-button.download.disabled {
			pointer-events: none;
		}
		.pdf-button.download {
			background-color: $COMPANY_Lime;
			width: 4.69vw;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	td {
		border: 1px solid #9fa2a3;
		height: 2.15vh;
		padding: 0px;
	}

	.pdf-button {
		cursor: pointer;
	}
}

.invoice-table.CURRENT {
	td.highlight {
		@include Text-Style-td-highlighted;
	}
}
