.payments-wrapper {
	.page-header {
		width: calculateVw(470px, 1440);
		height: calculateVw(100px, 1440);
		background-color: $Med_Lime;
		background-image: linear-gradient(29deg, $Med_Lime 61.5%, #959817 10%);

		.wrapper {
			.module-title {
				font-size: calculateVw(34px, 1440);
				font-family: $font-family-primary-subheads;
				letter-spacing: 1.7px;
			}
			.icon {
				img {
					width: calculateVw(60px, 1440);
					height: calculateVw(60px, 1440);
					margin-top: -1vh;
					margin-right: 1vw;
				}
			}
		}
	}
	.section-title {
		margin-top: 1vh;
		margin-bottom: 0.5vh;
		@include Section-Head;
		color: $DCBLOX_Gray;
		margin-left: 2.5vw;
	}
	.page-status {
		.wrapper {
			.progress-indicator {
				background-color: $DCBLOX_Black;
				justify-content: center;
				align-items: center;
				flex: 0 1 calculateVw(34px, 1440);
				flex-basis: calculateVw(34px, 1440);
				height: calculateVw(34px, 1440);
				border-radius: 50%;
				margin-left: calculateVw(6px);

				img {
					width: calculateVw(16px, 1440);
					height: calculateVw(16.4px, 1440);
				}
			}
			.progress-indicator.active {
				background-color: $DCBLOX_Black;
			}
			svg {
				width: calculateVw(42px, 1440);
				height: calculateVw(34px, 1440);
				circle {
					z-index: 30000;
					fill: transparent;
					stroke: red;
					stroke-width: 5;
					cx: 50%;
					cy: 50%;
					r: 35;
				}
			}
		}
	}
}
