.recent-invoices-wrapper {
	background-color: $White;
	height: 160px;
	width: 100%;
	display: flex;
	flex-direction: column;
	.months {
		flex: 1;
		align-self: center;

		color: $DCBLOX_Gray;
	}
	.invoices {
		flex: 4;
		display: flex;
		flex-direction: row;

		.recent-invoice {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;

			.invoice-amount {
				&.overdue {
					color: $DCBLOX_Red;
				}
				display: flex;
				flex-direction: row;
				.cents {
					padding-left: 2px;
				}
				.dollar {
					padding-right: 2px;
				}
				.dollar,
				.cents {
					align-self: flex-start;
					padding-top: 10px;
				}

				.dollars {
					@include Billing-Amount-Medium;
				}
			}
		}

		.recent-invoice:nth-last-of-type(1):after {
			border-right: none;
		}
	}
}

.recent-invoices {
	width: 100%;
	height: 160px;
	min-height: auto;
	min-width: auto;
	display: flex;
	flex-direction: column;

	&.one-invoice {
		.invoice-list {
			width: 50%;
			.recent-invoice {
				border-right: 1px solid rgba(0, 0, 0, 0.16);
			}
		}
	}
	.invoice-list {
		flex: 1 0 100%;
		padding-top: GetSize(2);
		padding-bottom: GetSize(2);

		.recent-invoice {
			& > div,
			& > span {
				flex: 0 1 auto !important;
			}
		}

		.recent-invoice:not(:first-child) {
			border-left: 1px solid rgba(0, 0, 0, 0.16);
		}
		.recent-invoice .invoice-image {
			margin-top: GetSize(1);
			width: GetSize(3);
			height: 40px;
		}
		.recent-invoice .invoice-image img {
			width: 22px;
			height: 100%;
		}
		.recent-invoice .invoice-amount {
			margin-top: 10px;
			height: GetSize(2);
			margin-bottom: 2px;
		}
		.recent-invoice .invoice-number {
			margin-top: GetSize(3);
			height: GetSize(2);
		}
		.recent-invoice .invoice-date {
			margin-top: 5px;
		}
	}
	@media screen and (max-width: $medium-res) {
		height: 120px;
		.invoice-list {
			padding-top: 12px;
			padding-bottom: GetSize(2);

			.recent-invoice .invoice-image {
				margin-top: 0px;
				width: 20px;
				height: 38px;
			}
			.recent-invoice .invoice-amount {
				margin-top: 12px;
				height: GetSize(2);
				.dollar,
				.cents {
					padding-top: 8px;
				}
			}

			.recent-invoice .invoice-number {
				height: GetSize(1);
				margin-top: GetSize(3);
			}
			.recent-invoice .invoice-date {
				display: none;
			}
		}
		.recent-invoice {
			&.one-invoice {
				.invoice-list {
					width: 50%;
					.recent-invoice {
						border-right: 1px solid rgba(0, 0, 0, 0.16);
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	@media screen and (min-width: $high-res) {
		.invoice-list {
			padding-top: GetSize(2);
			.recent-invoice .invoice-image {
				width: 60px;
				height: 112px;
			}
			.recent-invoice .invoice-amount {
				margin-top: GetSize(3);
				height: GetSize(4);
			}
			.recent-invoice .invoice-number {
				// margin-top: GetSize(1);
				height: GetSize(1);
			}
			.recent-invoice .invoice-date {
				margin-top: GetSize(2);
				height: GetSize(2);
			}
		}
	}
}
