//New colors

$DCBLOX_Red: #f23722;
$DCBLOX_Purple: #583a6b;
$DCBLOX_Black: #000000;
$DCBLOX_Gray: #5b595b;
$DCBLOX_White: #efeeed;
$DCBLOX_Aqua: #79d2de;
$DCBLOX_Lime: #b5d334;
$DCBLOX_Orange: #fcaf17;


$Med_Lime: #a8ad00;
$Dark_Lime: #949300;

$Med_Rust: #df6a2e;
$Bright_Rust: #f58145;
$Dark_Rust: #af5222;

$Bright_Blue: #3192f4;
$Blue: #2a7de1;
$Dark_Blue: #416ba9;

$Bright_Purple: #a46cf4;
$Purple: #9164cc;
$Dark_Purple: #8060a9;
$Extra_Dark_Purple: #432c52;

$Bright_Emerald: #00B0B9;
$Emerald: #008388;
$Dark_Emerald: #007377;

$Cool_Gray_Dark_1: #323e48;
$Cool_Gray_Dark_2: #5b6670;
$Cool_Gray_Dark_3: #7b868c;
$Cool_Gray_Med_1: #a2a9ad;
$Cool_Gray_Med_2: #c1c5c8;
$Cool_Gray_Med_3: #cfd2d3;
$Cool_Gray_Light_1: #d4d7d8;
$Cool_Gray_Light_2: #dfe1e1;
$Cool_Gray_Light_3: #edefef;

$Warm_Gray_Dark_1: #24272a;
$Warm_Gray_Dark_2: #53575a;
$Warm_Gray_Dark_3: #6f7271;
$Warm_Gray_Med_1: #888b8d;
$Warm_Gray_Med_2: #9ea1a2;
$Warm_Gray_Med_3: #b0b3b2;
$Warm_Gray_Light_1: #c8c8c8;
$Warm_Gray_Light_2: #dedede;
$Warm_Gray_Light_3: #eeeeee;

$White: #ffffff;


// Retired 2018 Customer Portal Colors

//$flat-blue: #3e69a5;
//$sick-green-two: #a9ab36;
//$sick-green-swipe: #8e902c;
//$purplish-grey-2: #3e5b8a;
//$wheat: #fdd78b;
//$puke: #a9ab36;
//$pea-soup: #959300;
//$dark-sky-blue: #307fe2;
//$battleship-grey: #797d82;
//$bluey-purple: #773dbc;
//$french-blue-two: #426da9;
//$french-blue-three: #416caa;
//$black-25: rgba(0, 0, 0, 0.251);
//$bluey-purple-two: #773dbd;
//$silver-four: #dfe0e3;
//$eggplant: #320e43;
//$grape-two: #532e6d;
