/* Ticket Detail */
.ticket-info {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	font-family: $font-family-primary-heads; //Bourgeois
	font-size: 1vw;
	font-stretch: condensed;
	line-height: 1.5;
	letter-spacing: 2px;
	text-align: left;
	color: $COMPANY_Gray;

	.ticket-type-text {
		flex: 0 0 7vw;
		display: inline-block;

		span {
			font-family: $font-family-primary-heads;
			font-size: 1vw;

			font-style: normal;
			font-stretch: condensed;
			line-height: 1.5;
			letter-spacing: 2px;
			text-align: left;
			padding-left: 0.3vw;
			text-transform: uppercase;
		}
		span.BILLING {
			color: $COMPANY_Purple;
		}
		span.OUTAGE {
			color: $COMPANY_Purple;
		}
		span.SUPPORT {
			color: $COMPANY_Purple;
		}
	}

	.ticket-priority-text {
		flex: 0 0 auto;
		margin-left: 1.76vw;

		span {
			font-family: $font-family-primary-heads;
			font-size: 1vw;
			font-style: normal;
			font-stretch: condensed;
			line-height: 1.5;
			letter-spacing: 2px;
			text-align: left;
			padding-left: 0.3vw;
			text-transform: uppercase;
		}
		span.LOW {
			color: $low-severity;
		}
		span.MEDIUM {
			color: $medium-severity;
		}
		span.HIGH {
			color: $high-severity;
		}
		span.URGENT {
			color: $COMPANY_Purple;
		}
	}
}
