.ticket-request-contacts-ga {
	padding-top: calculateVh(23px, $standard-screen-height-mid);
	padding-left: calculateVw(35px, $standard-screen-width-mid);
	padding-right: calculateVw(35px, $standard-screen-width-mid);
	.form-subtitle {
		@include Text-Style-Ticket-Request-Message;
	}
	.request-field-ga {
		transition: opacity 0.5s ease;
	}

	.requestor-name-ga {
		margin-top: calculateVh(18px);
		opacity: 1;
	}
	.requestor-email-ga {
		margin-top: calculateVh(25px);
		opacity: 0;
		pointer-events: none;
		&.active {
			pointer-events: auto;
			opacity: 1;
		}
	}
	.requestor-phone-ga {
		margin-top: calculateVh(25px);
		opacity: 0;
		pointer-events: none;
		&.active {
			pointer-events: auto;
			opacity: 1;
		}
	}
	.requestor-preference-ga {
		pointer-events: none;
		margin-top: calculateVh(28px);
		opacity: 0;
		&.active {
			pointer-events: auto;
			opacity: 1;
		}

		.label {
			margin-bottom: calculateVh(10px);
			@include Text-Style-Ticket-Request-Pref-Label;
		}
		.radio-wrapper {
			.detail-wrapper {
				display: flex;
				flex-direction: row;
				margin-right: 0.5vw;
			}
			width: auto;
		}
		.options {
			span:nth-child(3) {
				margin-left: calculateVw(45px);
			}
		}
	}
	button {
		margin-top: calculateVh(29.7px);
	}
}
